
@import url(https://fonts.googleapis.com/css?family=Exo:100);
:root {
  --color-text:#000;
  --color-back:#fff;
  --color-sombra:#eeeeee;
}
@font-face {
  font-family: poppins;
  src: url(/Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: bebans;
  src: url(/Fonts/BebasNeue-Regular.ttf);
}
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
*{
  margin: 0px;
  padding: 0px;
  transition: 0.2s;

}
summary:hover{
  background-color: var(--color-sombra);
}
summary{
  list-style: none;
  color: var(--color-text);
}
.cambioIdioma p:hover{
  background-color: var(--color-sombra);
}
.cambioIdioma p{
  cursor: pointer;
  transition: 0.2s;
  color: var(--color-text);
  margin-bottom: 0;
}
.cambioIdioma{
  position: fixed;
  right: clamp(0rem,0.2vw,1rem);
  top:clamp(2rem,2vw,2.5rem);
  padding: 1rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: poppins;
}
.iconIdioma{
  border-radius: 50%;
  background-color: var(--color-back);
  padding: 0.2rem;
  width: clamp(2rem,2vw,2.7rem);
  height: clamp(2rem,2vw,2.7rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.idiomasOculto{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-back);
  padding: 0rem;
  overflow: hidden;
  transition: 0.2s;
  padding: clamp(0.1rem,0.3vw,0.5rem);
  border-radius: 3px;
  border: 1px solid #575757;
  transition: 0.5s;
  box-shadow: 3px 3px 0px var(--color-text); /* Sombra doble */
}

body p,a,label,h2{
  color: var(--color-text);
}
/* Main styles */
.FondoPrincipal {
  position: absolute;
  text-align: center;
  font-family: poppins;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;

  -webkit-animation: bg-scrolling-reverse .92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse .92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse .92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse .92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  z-index: -1;
  scroll-behavior:smooth;
  
}
::-webkit-scrollbar {
  z-index: 2  ;
}
.tema{
  position: fixed;
  top:3rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  left: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}
#check {
  display: none;
}
.menuHambur a{
  text-decoration: none;
  color: var(--color-text);
  font-family: bebans;
  font-size: clamp(1.2rem,2vw,2rem);
}
.menuHambur {
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  z-index: 3;
  background-color: var(--color-back)  ;
  right: -10rem;
  transition: 0.1s;
  width: 10rem;
  border-left: 1px solid #575757;
}
.menuH{
  z-index: 5;
  position: absolute;
  right: 1rem;
  top: 2rem;
  top: 0;
  cursor: pointer;
}
.menu{
  display: none;
  cursor: pointer;
}

header{
  font-size: clamp(1.8rem,3vw,2rem);  
  font-family: bebans;
  width: 100vw;
  height: clamp(2.5rem,3vw,2.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-back);
  border-bottom: 1px solid #575757;
  z-index: 2;
  position: fixed;
  padding: 0 1rem;
}
.nombreNav{
  margin: 0rem;
}
.izquierda{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
header a{
  font-family: bebans;
  color: var(--color-text);
  text-decoration: none;
  font-size: clamp(1.8rem,3vw,2rem);
}
.principal{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
.nombre{
  font-family: bebans;
  color: transparent; /* Hace que el texto no tenga relleno */
  -webkit-text-stroke: 1px var(--color-text); /* Borde blanco de 2px */
  font-weight: 900;
  font-size: clamp(4rem,9vw,8rem);
  z-index: 1;
}
.saludo{
  margin-bottom: clamp(-0.5rem,3vw,-2rem);
  font-size: clamp(1.3rem,3vw,1.8rem);
}
.redes a{
  color: transparent;
  cursor: pointer;
}
.Linkedink svg{
  width: clamp(2rem,4vw,3.5rem);
  height: clamp(2rem,4vw,3.5rem);
}
.GitHub svg{
  width: clamp(2rem,4vw,3.5rem);
  height: clamp(2rem,4vw,3.5rem);
}
.card{
  padding: 1rem;
}
.proyectosText{
  font-size: clamp(1.5rem,3.5vw,3rem);
  margin-bottom: 3rem;
  font-family: bebans;
}

.card-img-top{
  width: 50%;
}
.proyectsCards{
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem; 
  width: 100vw;
}
.card1{
  transition: 0.2s;
  width: clamp(18rem, 40vw, 48rem);
}

.card1 img:hover{
  padding: 0rem;
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 30px #5D3FD3); 
}
a svg{
  transition: 0.2s ease-in-out;
}
a svg:hover{
  transform: scale(1.1);
}

.card1 img{
  width: 100%;
  margin-right: -6%;
  filter: drop-shadow(0px 0px 10px #5D3FD3); 
  transition: 0.2s ease-in-out;
}
.nombreProyecto {
  margin: 1rem 0;
  font-weight: 900;
  font-size: clamp(1.2rem,3vw,1.5rem);
}
.infoProyecto {
  line-height: 1;
  text-align:center;
}
#linksCards{
  color: transparent;
}
.AcercaDeMi{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  width: 100vw;
}
.AcercaDeMiText{
  font-size: clamp(1.5rem,3.5vw,3rem);
  margin: 3rem 0;
  font-family: bebans;
}
.acercaDeMiCenter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.yo:hover{
  transform: scale(1.1);
}
.yo{
  width: clamp(15rem,20vw,20rem) ;
  height: clamp(15rem,20vw,20rem);
  border-radius: 50%; 
  object-fit: cover;
  transition: 0.2s;
  filter: drop-shadow(0px 0px 10px var(--color-text)); 
}
.infoMe{
  text-align: start;
  width: 60%;
  font-size: clamp(0.9rem,1.5vw,1.3rem);
}
footer{
  background-color: var(--color-back);
  padding: clamp(0.5rem,2vw,1rem) 0;
  border-top: 1px solid #575757;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  margin-top: 0.5rem;
  margin-bottom: 0;
}
footer a svg{
  width: clamp(2rem,3vw,3rem);
  height: clamp(2rem,3vw,3rem);
}
form{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-back);
  width: clamp(310px,50vw,800px);
  margin: auto;
  border: #575757 1px solid;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.formulario input,textarea{
  width: 100%;
  background-color: var(--color-back);
  border: 1px solid #575757;
  border-radius: 1rem;
  padding: 0.5rem;
  color: var(--color-text);
  outline: none;
}
.formulario{
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#contactoH2{
  color: var(--color-text);
}
#btn{
  background-color: var(--color-sombra);
  color: var(--color-text);
  margin: 0.5rem 0;
}
#descargaCv{
  border: 1px solid #575757;
  border-radius: 2rem;
  padding: 0.4rem;
  background-color: var(--color-text);
  color: var(--color-back);
}

@media only screen and (max-width:610px){
  .infoMe{
    width: 80%;
  }
}
@media only screen and (max-width:580px){
  .izquierda{
    display: none;
  }
  .menu{
    display: flex;
  }
  .menuH{
    right: 1rem;
  }
}
